<%= form_with(model: poster, local: true) do |form| %>
  <% if poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
      <% poster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, :class => "label" %>
    <%= form.text_field :name, :class => "input" %>
  </div>

  <div class="field">
    <%= form.label :image, :class => "label" %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "Mentés", :class => "button is-secondary" %>
  </div>
<% end %>
