<h1>Galéria</h1>

<div class="images">
    <% @posters.each do |poster| %>
      <figure class="figure">
        <%= link_to poster do %>
          <%= image_tag poster.image.url(:thumb), :class => "figure-img" if poster.image? %>
        <% end %>
        <figcaption class="figure-caption">
          <%= poster.name %>
        </figcaption>
      </figure>
      <% if admin? %>
        <%= link_to 'Szerkesztés', edit_poster_path(poster) %>
        <%= link_to 'Törlés', poster, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </div>

<br>

<% if admin? %>
  <%= link_to 'Új poszter', new_poster_path %>
<% end %>
