<h1 class="title is-1">Profil szerkesztése</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="columns is-desktop">
    <div class="column">
      <div class="field">
        <%= f.label :image, "Profilkép", :class => "label" %>
        <div class="field">
          <%= f.file_field :image %></p>
          <%= f.hidden_field :image_cache %>
        </div>
      </div>

      <%= image_tag current_user.image.url  if current_user.image? %>
      <% if current_user.image? %>
        <%= f.check_box :remove_image, :class => "checkbox" %>
        <%= f.label :remove_image, "Kép törlése", class: "checkbox" %>
      <% end %>
    </div>
    <div class="column">
      <div class="field">
        <%= f.label :email, :class => "label" %>
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <p><%= f.label :name, "Név", :class => "label" %>
        <div class="control">
          <%= f.text_field :name, class: "input" %></p>
        </div>
      </div>

      <div class="field">
        <%= f.label :introduction, "Bemutatkozás", :class => "label" %>
        <div class="control">
          <%= f.text_area :introduction, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, "Jelszó", :class => "label" %> <i>(hagyd üresen, ha nem akarod megváltoztani)</i>
        <div class="control">
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> karakter minimum</em>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Jelszó megerősítése", :class => "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password, "Jelenlegi jelszó", :class => "label" %> <i>(írd be a változtatások mentéséhez)</i>
        <div class="control">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Frissítés", class: "button is-info" %>
      </div>
    </div>
  </div>
<% end %>

<h3 class="title is-3">Fiók törlése</h3>

<p>Nem boldog? <%= button_to "Törlés", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %></p>
