<h2>Regisztráció</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, :class => "form-control" %>
    </div>

    <div class="field">
      <p><%= f.label :username, "Név" %><br />
      <%= f.text_field :username, :required => true, :class => "form-control" %></p>
    </div>

    <div class="field">
      <%= f.label :password, "Jelszó" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> karakter minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Jelszó megerősítése" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Regisztrálok", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
