<h1 class="title is-1">Hírek</h1>
<% if admin? %>
  <%= link_to 'Új hír', new_article_path %>
<% end %>
<% @articles.each do |article| %>
  <article class="media">
    <div class="columns is-flex-tablet">
      <figure class="media-left column is-one-third">
        <p class="image">
          <%= image_tag article.image.url(:thumb) if article.image? %>
        </p>
      </figure>
      <div class="content column">
        <div class="media-content">
          <div class="content">
            <h2 class="title is-2"><%= article.title %></h2>
            <i><%= time_ago_in_words article.created_at %></i><br /><br />
            <%= article.intro %>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <%= link_to 'Tovább', article, class: 'button is-primary' %>
              </a>
              <% if admin? %>
              <a class="level-item">
                <%= link_to 'Szerkesztés', edit_article_path(article), class: 'button is-warning' %>
              </a>
              <a class="level-item">
                <%= link_to 'Törlés', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
              </a>
              <% end %>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </article>
<% end %>