<h1>Hírek</h1>
<% if admin? %>
  <%= link_to 'Új hír', new_article_path, class: 'btn btn-secondary btn-sm' %>
<% end %>
<% @articles.each do |article| %>
  <div class="card mt-3 d-flex flex-row">
    <%= image_tag article.image.url(:thumb) if article.image? %>
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= article.intro %></p>
      <%= link_to 'Tovább', article, class: 'btn btn-primary btn-sm' %>
      <% if admin? %>
        <%= link_to 'Szerkesztés', edit_article_path(article), class: 'btn btn-secondary btn-sm' %>
        <%= link_to 'Törlés', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      <% end %>
      <p class="card-text text-right"><small class="text-muted"><%= article.created_at %></small></p>
    </div>
  </div>
<% end %>