<h1>
  <%= @article.title %>
</h1>

<p>
  <em>
    <%= time_ago_in_words @article.created_at %>
  </em>
</p>

<p>
  <strong>
    <%= @article.intro %>
  </strong>
</p>

<div class="fr-view">
  <%= @article.content.html_safe %>
</div>

<% if admin? %>
  <%= link_to 'Szerkesztés', edit_article_path(@article), class: 'btn btn-secondary' %>
<% end %>