<h2 class="title is-2">
  <%= @user.name %>
</h2>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.submit 'Mentés', class: "button is-primary" %>
  </div>
<% end %>