<h2>
  <%= @user.username %>
</h2>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.submit 'Mentés', class: "btn btn-primary" %>
  </div>
<% end %>