<p id="notice">
  <%= notice %>
</p>

<h1>A csapat</h1>

<div class="card-deck">
  <% @users.each do |user| %>
  <div class="col-lg-4 col-md-5">
  <div class="card">
    <!-- <%= user.image %> -->
    <img class="card-img-top" src="http://placekitten.com/350/300" alt="User image">
    <div class="card-body">
      <h5 class="card-title text-center">
        <%= user.name %>
      </h5>
      <p class="card-text text-center">
        <%= user.introduction %>
      </p>
    </div>
  </div>
</div>
<% end %>
</div>

<%= link_to 'Új tag felvétele', new_user_path %>