<h1>Események</h1>
<ul class="list-group list-group-flush">
  <% @events.each do |event| %>
  <li class="list-group-item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= event.title %>
        </h5>
        <p class="card-text">
          <%= event.intro %>
        </p>
        <%= link_to 'Tovább', event, class: 'btn btn-primary btn-sm' %>
        <p class="card-text text-right"><small class="text-muted">
            <%= event.created_at %></small></p>
      </div>
    </div>
  </li>
  <!--
<div>
  <td>
    <%= link_to 'Show', event %>
  </td>
  <td>
    <%= link_to 'Edit', edit_event_path(event) %>
  </td>
  <td>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</div>
-->
  <% end %>
</ul>
<%= link_to 'Új esemény', new_event_path %>