<h1 class="title is-1">Események</h1>
<% if admin? %>
  <%= link_to 'Új esemény', new_event_path, class: 'button is-secondary btn-sm' %>
<% end %>
<% @events.each do |event| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-128x128">
        <%= image_tag event.image.url(:thumb) if event.image? %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
          <h2 class="title is-2"><%= event.title %></h2>
          <%= event.intro %>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <%= link_to 'Tovább', event, class: 'button is-primary' %>
          </a>
          <% if admin? %>
          <a class="level-item">
            <%= link_to 'Szerkesztés', edit_event_path(event), class: 'button is-warning' %>
          </a>
          <a class="level-item">
            <%= link_to 'Törlés', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
          </a>
          <% end %>
        </div>
      </nav>
    </div>
    <div class="media-right">
      <i><%= time_ago_in_words event.created_at %></i>
    </div>
  </article>
<% end %>