<h1>Események</h1>
<% if admin? %>
  <%= link_to 'Új esemény', new_event_path, class: 'btn btn-secondary btn-sm' %>
<% end %>
<% @events.each do |event| %>
  <div class="card mt-3 d-flex flex-row">
    <%= image_tag event.image.url(:thumb) if event.image? %>
    <div class="card-body">
      <h5 class="card-title"><%= event.title %></h5>
      <p class="card-text"><%= event.intro %></p>
      <%= link_to 'Tovább', event, class: 'btn btn-primary btn-sm' %>
      <% if admin? %>
        <%= link_to 'Szerkesztés', edit_event_path(event), class: 'btn btn-secondary btn-sm' %>
        <%= link_to 'Törlés', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      <% end %>
      <p class="card-text text-right"><small class="text-muted"><%= event.created_at %></small></p>
    </div>
  </div>
<% end %>