<h1 class="title is-1">
  <%= @event.title %>
</h1>

<p>
  <em>
    <%= time_ago_in_words @event.created_at %>
  </em>
</p>

<article class="message is-small">
  <div class="message-body">
    <%= @event.intro %>
  <div>
</article>

<div class="fr-view">
  <%= @event.content.html_safe %>
</div>

<% if admin? %>
  <%= link_to 'Szerkesztés', edit_event_path(@event), class: 'button is-secondary' %>
<% end %>