<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @event.intro %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
