<h1>
  <%= @event.title %>
</h1>

<p>
  <em>
    <%= time_ago_in_words @event.created_at %>
  </em>
</p>

<p>
  <strong>
    <%= @event.intro %>
  </strong>
</p>

<p>
  <%= @event.content.html_safe %>
</p>

<% if admin? %>
  <%= link_to 'Szerkesztés', edit_event_path(@event), class: 'btn btn-secondary' %>
<% end %>