<p>
  <strong>Cím:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Név:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Tartalom:</strong>
  <%= @page.content %>
</p>

<%= link_to 'Szerkesztés', edit_page_path(@page) %> |
<%= link_to 'Vissza', pages_path %>
