<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Név", :class => "label" %>
    <%= form.text_field :name, :class => "input" %>
  </div>

  <div class="field">
    <%= form.label :image, "Kép", :class => "label" %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Kategória", :class => "label" %>
    <div class="control">
      <div class="select">
        <%= form.collection_select :category_id, @categories, :id, :name, {}, {} %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :toppings, "Feltétek", :class => "label" %>
    <%= form.text_field :toppings, :class => "input" %>
  </div>

  <div class="actions">
    <%= form.submit "Mentés", :class => "button is-primary" %>
  </div>
<% end %>
