<h1 class="title is-1">Szendvicsek</h1>
<% if admin? %>
  <%= link_to 'Új szendvics', new_meal_path, :class => 'button is-secondary' %>
<% end %>

<div class="row columns is-multiline">
  <% @meals.each do |meal| %>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <%= image_tag meal.image.url(:thumb) if meal.image? %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><%= meal.name %></p>
            <span class="tag"><%= meal.category.name %></span>
          </div>
        </div>

        <div class="content">
          <%= meal.toppings %>
        </div>
      </div>
      <% if admin? %>
      <footer class="card-footer">
        <%= link_to 'Szerkesztés', edit_meal_path(meal), class: "card-footer-item" %>
        <%= link_to 'Törlés', meal, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
      </footer>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
