<h1>Szendvicsek</h1>
<% if admin? %>
  <%= link_to 'Új szendvics', new_meal_path, :class => 'btn btn-secondary' %>
<% end %>

<div class="card-deck">
    <% @meals.each do |meal| %>
    <div class="col-6 col-md-4">
      <div class="card mt-3">
        <div class="card-header">
          <%= meal.category.name %>
        </div>
        <%= image_tag meal.image.url(:thumb) if meal.image? %>
        <div class="card-body">
          <h5 class="card-title">
            <%= meal.name %>
          </h5>
          <p>
            <%= meal.toppings %>
          </p>
        </div>
        <% if admin? %>
          <div class="card-footer">
            <%= link_to 'Szerkesztés', edit_meal_path(meal) %> | 
            <%= link_to 'Törlés', meal, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
</div>

<br>