<p id="notice">
  <%= notice %>
</p>

<h1>Szendvicsek</h1>

<div class="card-deck">
    <% @meals.each do |meal| %>
    <div class="col-6 col-md-4">
      <div class="card mt-3">
        <div class="card-header">
          <%= meal.category.name %>
        </div>
        <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Meal image">
        <div class="card-body">
          <h5 class="card-title">
            <%= meal.name %>
          </h5>
          <p>
            <%= meal.toppings %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
</div>

<br>

<%= link_to 'Új szendvics', new_meal_path %>