<p>
  <strong>Név:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Kép:</strong>
  <%= @meal.image %>
</p>

<p>
  <strong>Kategória:</strong>
  <%= @meal.category.name %>
</p>

<p>
  <strong>Feltétek:</strong>
  <%= @meal.toppings %>
</p>

<%= link_to 'Szerkesztés', edit_meal_path(@meal) %> |
<%= link_to 'Vissza', meals_path %>
