<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @meal.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @meal.category %>
</p>

<p>
  <strong>Toppings:</strong>
  <%= @meal.toppings %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
