<p id="notice">
  <%= notice %>
</p>

<h1>Galéria</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
    <tr>
      <td>
        <%= photo.name %>
      </td>
      <td>
        <%= photo.url %>
      </td>
      <td>
        <%= link_to 'Show', photo %>
      </td>
      <td>
        <%= link_to 'Edit', edit_photo_path(photo) %>
      </td>
      <td>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table> -->



<!-- <div class="images">
  <% @photos.each do |photo| %>
  <figure class="figure">
    <img class="figure-img img-fluid rounded" src="<%= photo.url %>">
    <figcaption class="figure-caption">
      <%= photo.name %>
    </figcaption>
    <% end %>
  </figure>
</div> -->

<div class="images">
    <% @photos.each do |photo| %>
    
      <img class="gallery-image" src="<%= photo.url %>">
      <% end %>
  </div>


<br>

<%= link_to 'New Photo', new_photo_path %>
