<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <%= link_to '<img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo"> Vörös Kakas Fogadó'.html_safe, "/", :class => "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to "Hírek", articles_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Szendvicsek", meals_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Események", events_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Galéria", posters_path, :class => "nav-link" %>
            </li>
        </ul>
        <% if user_signed_in? %>
            <div class="btn-group dropleft">
                <button class="btn btn-outline-secondary dropdown-toogle" type="button" data-toggle="dropdown">
                    <%= current_user.email %>
                </button>
                <div class="dropdown-menu">
                    <%= link_to "Profilom", edit_user_registration_path, :class => "dropdown-item" %>
                    <%= link_to "Kijelentkezés", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
                </div>
            </div>
        <% else %>
            <div class="btn-group dropleft">
                <button class="btn btn-outline-secondary dropdown-toogle" type="button", data-toggle="dropdown" href="#">
                    Bejelentkezés
                </button>
                <div class="dropdown-menu">
                    <%= link_to "Bejelentkezés", new_user_session_path, :class => "dropdown-item" %>
                    <%= link_to "Regisztráció", new_user_registration_path, :class => "dropdown-item" %>
                </div>
            </div>
        <% end %>
    </div>
</nav>
