<!DOCTYPE html>
<html lang="hu">
  <head>
    <title>Vörös Kakas Fogadó</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'navbar' %>
    <main>
      <div class="container">
        <% if notice %>
          <div class="message is-info"><div class="message-body><%= notice %></div></div>
        <% end %>
        <% if alert %>
          <div class="message is-warning"><div class="message-body><%= alert %></div></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <%= render 'footer' %>
  </body>
</html>
